{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<h3>Details for SLA: {{ sla.id }}</h3>
Description: {{ sla.description }} <br>
Service: {{ sla.service }} <br>
Start Date: {{ sla.startDate }} <br>
End Date: {{ sla.endDate }} <br>
Agreed At: {{ sla.agreedAt }} <br>
Terms:
<ul>
    {% if all_terms %}
        {% for term in all_terms %}
            <li><a href="{% url 'sla:termDetail' sla.id  term.id %}">{{ term }}</a></li>
        {% endfor %}
    {% else %}
        <li> No Terms </li>
    {% endif %}
</ul>